.header {
    /* border: yellow solid; */
    height: 70px;
    display: flex;
    align-items: center;
    padding: 20px 36px;
    background-color:#060c3e;
    
}

.header--icon {
    height: 100%;
}

.header--title {
    justify-content: center;
    margin-right: auto;
    /* border: red solid; */

}

.header--button {
    background-color: #42e276;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 15px;
    color: #060c3e;
    font-weight: bold;
}

.header--button:hover {
    background-color: #38c464;
}